################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/szalkszop/.vs
/szalkszop/packages
/szalkszop/szalkszop/bin
/szalkszop/szalkszop/obj/Debug
/szalkszop/appdata/*
/szalkszop/images*
/szalkszop/szalkszop/Images/*

