@model szalkszop.ViewModels.UserListViewModel
@{
	ViewBag.Title = "Manage users";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
	<script src="/Scripts/jquery-1.10.2.js"></script>
</head>

<div id="div1">
	<h2>Manage users</h2>
</div>
<div id="div2">
	<a href="@Url.Action("Create", "User")"
	   class="btn btn-primary">
		<span>
			<strong>Add</strong>
		</span>
	</a>
</div>

<br />
<br />

<div id="div2">
	@using (Html.BeginForm("Search", "User", FormMethod.Post, new { @class = "", id = "submitButton", urlAttr = Url.Action("Search", "Api/User", new { area = string.Empty }) }))
	{
		<div class="form-group">
			<div class="input-group" style="width: 300px">
				@Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by Email or Surname...", id = "inputForm" })
				<span class="input-group-addon" id="myButton">
					<button class="btn btn-primary" type="submit" js-id="1" id="myButton1">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</span>
			</div>
		</div>
	}
</div>

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Email</th>
				<th>Full Name</th>
				<th>Date of registration</th>
				<th>Edit</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody id="userList"></tbody>
	</table>
</div>

<script>
	$(document).ready(function () {
		$("#submitButton").submit(function (e) {
			e.preventDefault();
			queryUsers();
		})

		queryUsers();
	});

	var queryUsers = function () {
		$.ajax({
			type: "POST",
			url: $("#submitButton").attr("urlAttr"),
			data: { searchTerm : $("#inputForm").val() },
			success: function (data) {
				var trHTML = "";
				$.each(data, function (i, user) {
					trHTML += "<tr><td>" + user.Email + "</td><td>" + user.Name + " " + user.Surname + "</td><td>" + user.RegistrationDateTime + "</td><td>" +
						'<a href="' + user.EditLink + '" class="btn btn-primary"><i class="glyphicon glyphicon-pencil""></i></a></td><td>' +
						'<a href="' + user.DeleteLink + '" class="btn btn-primary"><i class="glyphicon glyphicon-remove""></i></a></td></tr>';
				});

				$("#userList").html("");
				$("#userList").append(trHTML);
			},
			error: function () {
				alert("Something failed. Please try again");
			}
		});
	};

</script>