body {
	padding-top: 0px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.main-logo {
	background: black
}


.main-logo img {
	padding-top: 10px;
	display:block;
	margin:auto;
}

 .footer {
  background-color: white;
  text-align: center;
  position: relative;
  height: 150px;
  clear:both;
  padding-top:20px;
} 

img.details {
	height: 75%;
	width: 75%;
}

/* Bootstrap overrides*/


.carousel {
  max-width: 400px;
  max-height: 300px;
  overflow: hidden;
  margin: auto;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.modal-backdrop {
	position: unset;
}

.navbar {
	position:unset; 
	border-radius: 0px;
	z-index: 1000;
	min-height: 50px;
	margin-bottom: 0px;
	border: 1px solid transparent;
}

.navbar-inverse {
    background-color: black;
}

 .col-sm-3 {
    padding-bottom: 15px;
}

 .carousel-indicators {
    z-index: 1;
}

 .carousel-inner > .item > img {
    margin: 0 auto;
}

/* Page-level styles*/

.cart {
	list-style: none;
	width: 250px;
	padding-left: 10px;
	padding-top: 10px;
}

.cart > li {
	position: relative;
	margin-bottom: 10px;
	margin-right: 10px;
}

.summary {
	padding-left: 0px;
}

.cart > li .details {
	position: absolute;
	top: 0;
	left: 120px;
}

.cart > li .details .productname {
	font-weight: bold;
	display: block;
}

.cart > li .details .addorremove {
    font-weight: bold;
    display: block;
}

/*.cart > li .details .btn-primary {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}*/

th {
  text-align: center;
  vertical-align: middle;
}

td {
  text-align: center;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
	vertical-align: middle;
}

#div1 {
    display: inline-block;
}

#div2 {
    display: inline-block;
	vertical-align:middle;
	margin-bottom: 10px;
}

#inlinediv1 {
    display: inline-block;
}

#inlinediv2 {
    display: inline-block;
}

element.style {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

#myButton {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#myButton1 {
	padding-bottom: 5px;
	padding-top: 5px;
	height: 32px;
}

.sidebar {
  width: 160px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
}

.sidebar p.title {
  padding: 6px 8px 6px 16px;
  padding-bottom: 4px;
  margin-bottom: 0px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  font-weight: bold;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#personalinfo {
	  text-align: left;
}

hr {
	margin-top: 0px;
}

@media (min-width: 1200px) {
.container {
	max-width: 1170px;

}

body>.container {
    background-color: #fff;
    box-shadow: 12px 0 30px -10px #d3d3d3, -12px 0 30px -10px #d3d3d3;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
	.col-lg-10 {
		min-height: 100vh;
	}
	}
}

#makeOrder {
    margin-right: 10px;
    margin-left: 10px;
}

.btn-success {
    color: #ffffff;
    background-color: #6fb85c;
    border-color: #6fb85c;
}

