@{
	ViewBag.Title = "About us";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>SzalekShop - About us</h2>
<hr />

<p>This page was created by <strong>Konrad Szalek</strong>.</p>
<p>Contact information:</p>
<p>Email: <strong><a href="mailto:konradszalek@gmail.com?">konradszalek@gmail.com</a></strong></p>
<p>Phone: <strong>+48 886 643 868</strong></p>





