@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Our products and categories</h2>

@{ Html.RenderAction("PartialCategories", "Home");}

@{ Html.RenderAction("TopThreeProducts", "Home");}



