@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Our products and categories</h2>
<h3>Product categories</h3>

@{ Html.RenderAction("GetCategories", "ProductCategory");}
 
<h3>Top 3 newest products</h3>

@{ Html.RenderAction("TopThreeProducts", "Product");}



