@model szalkszop.ViewModels.ProductCategoriesViewModel
@{
    Layout = null;
}
<body>
<div>
	<table cellpadding="10">
		<thead>
		<tr>
			<th><h2>Categories</h2></th>
		</tr>
		</thead>
		<tbody>
	
		@foreach (var category in Model.ProductCategoriesDto)
		{
			<tr>
				<td>
					@Html.ActionLink(@category.Name, "Products", new { categoryId = category.Id })
				</td>
			</tr>
		}
		</tbody>
	</table>
</div>
</body>