@model szalkszop.ViewModels.ProductListSearchViewModel
@{
	Layout = null;
}

<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Product Name</th>
				<th>Product category</th>
				<th>Amount in stock</th>
				<th>Date of adding</th>
				<th>Price</th>
				<th>Description</th>
				<th>Edit</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody id="productList">
		</tbody>
	</table>
</div>

