@{
	ViewBag.Title = "Manage products";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<head>
	<script src="/Scripts/jquery-1.10.2.js"></script>
</head>

<div id="div1">
	<h2>Manage products</h2>
</div>
<div id="div2">
	<a href="@Url.Action("Create", "Product")"
	   class="btn btn-primary">
		<span>
			<strong>Add</strong>
		</span>
	</a>
</div>

<br />
<br />

@Html.Partial("_Search")

@Html.Partial("_AdminProductSearchResult")


<script>
	$(document).ready(function () {
		$("#submitButton").submit(function (e) {
			e.preventDefault();
			queryUsers();
		})

		queryUsers();
	});

	var queryUsers = function () {
		$.ajax({
			type: "POST",
			url: $("#submitButton").attr("urlAttr"),
			data: {
				Name: $("#inputNameForm").val(),
				ProductCategory: $("#inputCategoryForm").val(),
				DateTimeFrom: $("#inputDateFromForm").val(),
				DateTimeTo: $("#inputDateToForm").val(),
				PriceFrom: $("#inputPriceFromForm").val(),
				PriceTo: $("#inputPriceToForm").val(),
			},
			success: function (data) {
				var trHTML = "";
				$.each(data, function (i, product) {
					trHTML += "<tr><td>" + product.Name + "</td><td>" + product.CategoryName + "</td><td>" + product.AmountInStock + "</td><td>" + product.DateOfAdding + "</td><td>" +
						+ product.Price + "</td><td>" + product.Description + "</td><td>" +
						'<a href="' + product.EditLink + '" class="btn btn-primary"><i class="glyphicon glyphicon-pencil""></i></a></td><td>' +
						'<a href="' + product.DeleteLink + '" class="btn btn-primary"><i class="glyphicon glyphicon-remove""></i></a></td></tr>';
				});

				$("#productList").html("");
				$("#productList").append(trHTML);
			},
			error: function () {
				alert("Something failed. Please try again");
			}
		});
	};

</script>






