@model szalkszop.ViewModels.ProductViewModel
@{
	ViewBag.Title = "Manage users";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Manage Product photos</h2>

<table cellpadding="10">
	<thead>
		<tr>
			<th>No</th>
			<th>Photo</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.ProductImagesDto.Count(); i++)
		{
			<tr>
				<td>@(i+1)</td>
				<td><img src="~/Images/@Model.ProductImagesDto[i].ThumbNailName" class="img-responsive" alt=@Model.ProductImagesDto[i].ThumbNailName height="37" width="54"></td>
				<td>
					@Html.ActionLink("Delete", "DeletePhoto", new { id = Model.ProductImagesDto[i].Id, productId = Model.Id })
				</td>
			</tr>
		}
	</tbody>
</table>